<h1>회원가입 창 </h1>
<form action="/register">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div>
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-addon">
          <input type="radio" aria-label="Radio button for following text input" name="author" value="admin">
        </span>
        <input type="text" class="form-control" aria-label="Text input with radio button" readonly value="admin">
        <span class="input-group-addon">
          <input type="radio" aria-label="Radio button for following text input" name="author" checked value="normal">
        </span>
        <input type="text" class="form-control" aria-label="Text input with radio button" readonly value="normal">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
